.header{
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4caf50;
    color: white;
}

.pagination-buttons{
    display: flex;
    justify-content: center;
    gap: 1vh;
    margin: 1vh;
}

.filterSearch{
    display: flex;
    justify-content: center;
    margin: 1vh;
}

.filterElement {
    margin: 1vh;
}