.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.modal-content {
    padding: 20px;
    background: #fafafa; /* light gray */
    border: 1px solid #ccc; /* light gray border */
    border-radius: 5px;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    min-height: 300px;
    margin: 1rem;
    position: relative;
    min-width: 300px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next row */
    gap: 10px; /* Space between buttons */
    margin-top: 20px; /* Add space between children and buttons */
}