/* this is the banner styling for the home page */
.homeHeader {
    background-color: rgba(0, 112, 115, 0.8);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    padding: 2%;
    margin: -10px -8px 0px -10px;
}

.homeHeaderContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: auto;
    padding-left: 5vw;
    padding-right: 5vw;
}

.homeCityLogo {
    height: auto;
    max-width: 100%;
    width: 250px;
}

.homePassportText {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}

    .homePassportText:hover {
        text-decoration: underline;
    }

    .homePassportText a {
        text-decoration: none;
    }

/* this portion of the CSS will be if its any other page so the banner can be dynamically styled */
.whiteHeader {
    background-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    padding: 2%;
    margin: -10px -8px 0px -10px;
}

.whiteHeaderContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: auto;
    padding-left: 5vw;
    padding-right: 5vw;
}

.whiteCityLogo {
    height: auto;
    max-width: 100%;
    width: 100%;
    display: block;
}

.whitePassportText {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #c05818;
    text-decoration: none;
}

    .whitePassportText:hover {
        text-decoration: underline;
    }

    .whitePassportText a {
        text-decoration: none;
    }

