.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #413E3A;
    height: 55vh;
}

.rowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footerLogo {
    display: block;
    height: 13vh;
    max-width: 15vw;
}

.contactUs {
    display: grid;
    width: 13vw;
    margin: 5vw;
}

.contactUsHeader, .location, .telephone, .fax, .impairmentInfo {
    color: #ffffff;
}

.locationDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1vh;
}

.droppin {
    height: 2vh;
    margin-right: 1vw;
}

.telephoneDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1vh;
}

.teleIcon {
    height: 2vh;
    margin-right: 1vw;
}

.faxDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1vh;
}

.faxIcon {
    height: 2vh;
    margin-right: 1vw;
}

.connectWithUsHeader {
    color: #ffffff;
}

.connectWithUsMenu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .connectWithUsMenu li:last-child {
        width: 100%;
    }

.linkedInIcon {
    background-image: url('../assets/LinkedInIconWhite.png');
    height: 40px;
    width: 40px;
}

    .linkedInIcon:hover {
        background-image: url('../assets/LinkedInIconOrange.png');
    }

.instagramIcon {
    background-image: url('../assets/InstagramIconWhite.png');
    height: 41px;
    width: 41px;
}

    .instagramIcon:hover {
        background-image: url('../assets/InstagramIconOrange.png');
    }

.twitterIcon {
    background-image: url('../assets/TwitterIconWhite.png');
    margin-top: 1px;
    height: 36px;
    width: 35px;
}

    .twitterIcon:hover {
        background-image: url('../assets/TwitterIconOrange.png');
    }

.facebookIcon {
    background-image: url('../assets/FacebookIconWhite.png');
    margin-top: -4.5px;
    height: 50px;
    width: 45px;
}

    .facebookIcon:hover {
        background-image: url('../assets/FacebookIconOrange.png');
    }

.youtubeIcon {
    background-image: url('../assets/YoutubeIconWhite.png');
    margin-top: 1px;
    height: 40px;
    width: 40px;
}

    .youtubeIcon:hover {
        background-image: url('../assets/YoutubeIconOrange.png');
    }

.nextdoorIcon {
    background-image: url('../assets/NextdoorIconWhite.png');
    margin-top: 2.5px;
    height: 37px;
    width: 37px;
}

    .nextdoorIcon:hover {
        background-image: url('../assets/NextdoorIconOrange.png');
    }

.coralgablesTV {
    text-decoration: none;
    color: #ffffff;
}

    .coralgablesTV:hover {
        transition: .2s ease-in;
        text-decoration: underline;
        color: #c05818;
    }

.linkedInIcon, .instagramIcon, .twitterIcon, .facebookIcon, .youtubeIcon, .nextdoorIcon {
    background-size: cover;
}

    .linkedInIcon:hover, .instagramIcon:hover, .twitterIcon:hover, .facebookIcon:hover, .youtubeIcon:hover, .nextdoorIcon:hover {
        transition: background-image .2s ease-in;
    }
