.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #413E3A;
    height: 55vh;
}

.rowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footerLogo {
    display: block;
    height: 13vh;
    max-width: 15vw;
}

.contactUs {
    display: grid;
    width: 13vw;
    margin: 5vw;
}

.contactUsHeader, .location, .telephone, .fax, .impairmentInfo {
    color: #ffffff;
}

.locationDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1vh;
}

.droppin {
    height: 2vh;
    margin-right: 1vw;
}

.telephoneDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1vh;
}

.teleIcon {
    height: 2vh;
    margin-right: 1vw;
}

.faxDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1vh;
}

.faxIcon {
    height: 2vh;
    margin-right: 1vw;
}

.connectWithUsHeader {
    color: #ffffff;
}

.connectWithUsMenu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .connectWithUsMenu li:last-child {
        width: 100%;
    }

.linkedInIcon {
    background-image: url('../assets/LinkedInIconWhite.png');
    height: 4vh;
    width: 4vh;
}

.instagramIcon {
    background-image: url('../assets/InstagramIconWhite.png');
    height: 4vh;
    width: 4vh;
}

.twitterIcon {
    background-image: url('../assets/TwitterIconWhite.png');
    height: 4vh;
    width: 3.5vh;
}

.facebookIcon {
    background-image: url('../assets/FacebookIconWhite.png');
    height: 4vh;
    width: 4.5vh;
}

.nextdoorIcon {
    background-image: url('../assets/NextdoorIconWhite.png');
}

.linkedInIcon, .instagramIcon, .twitterIcon, .facebookIcon, .youtubeIcon, .nextdoorIcon {
    background-size: cover;
}

/* adjusting the height for specific icons */
.twitterIcon {
    margin-top: 2.5px;
    height: 3.5vh;
}

.facebookIcon {
    margin-top: -3.5px;
    height: 5vh;
}

.youtubeIcon {
    margin-top: 1.5px;
}

.nextdoorIcon {
    margin-top: 2.5px;
    height: 3.7vh;
}

.coralgablesTV {
    text-decoration: none;
    color: #ffffff;
}

    .coralgablesTV:hover {
        text-decoration: underline;
        color: #c05818;
    }
