.HomeContainer {
    display: grid;
    justify-content: center;
    background-color: #fcf6f3;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.Title {
    font-weight: bold;
}