/* these are the stylings for when the component is being used within "/Home" */
.HomeLinks {
    display: flex;
}

.HomeUl {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.HomeLi {
    margin: 1vw;
}

.primary {
    border: 2px solid;
    background-color: #c05818;
    color: #fff;
    border-color: #c05818;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.6rem;
    transition: all 0.2s ease-in-out;
}

    .primary:hover {
        border: 2px solid;
        background-color: #934312;
        color: #fff;
        border-color: #c05818;
    }

/* These are the stylings for the divs when the component is being used within "/AddEntry" */
.AddEntryLinks {
}
