.mainContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: #fcf6f3;
}

.subHeader {
    background-color: #007073;
    padding: 1%;
    margin: -10px -8px 0px -10px;
}

.subHeaderText {
    margin-left: 5vw;
    color: #fff;
    font-family: "Lora",serif;
    font-size: 2rem;
}

.OtherPageLinksContainer {
    display: flex;
    justify-content: center;
}

.overall {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}

.centering {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    border: 20px solid #ececec;
    border-radius: 0.6rem;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
    width: 44vw;
}

.structure {
    display: flex;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.secondColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    gap: 1vh;
}

.submitButtonDiv{
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: 1vh;
}

.submitButton {

}

.errorHeader {
    display: flex;
    justify-content: center;
}

.errorMessage {
    display: flex;
    justify-content: center;
}