.mainContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: #fcf6f3;
}

.subHeader {
    background-color: #007073;
    padding: 1%;
    margin: -10px -8px 0px -10px;
}

.subHeaderText {
    margin-left: 5vw;
    color: #fff;
    font-family: "Lora",serif;
    font-size: 2rem;
}

.OtherPageLinksContainer {
    display: flex;
    justify-content: center;
}

.overall {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}

.centering {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    border: 2px solid;
    width: 44vw;
}

.structure{
    display: flex;
    flex-direction: column;
}

.formContainer {
    display: flex;
    width: auto;
}

.secondColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    gap: 1vh;
}

.submitButtonDiv{
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: 1vh;
}

.submitButton {

}
