/* used similar formatting as the Applicant Information box */
.LockBoxContainer {
    display: grid;
    border: solid 2px;
    padding: 1vh;
    margin: 1vh;
    justify-content: center;
    width: 20vw;
}
