.SDframe {
    border: solid 2px;
    margin: 1vh;
    padding: 1vh;
    width: 20vw;
    justify-content: center;
}

.Header{
    display: flex;
    justify-content: center;
}

.StateDepartmentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}

.ColumnLabels {
    display: flex;
    justify-content: center;
}

.InfoLabels {
    display: flex;
    justify-content: center;
}
